

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




body {
	padding: 0;
	background-color: white;
	color: grey
}

#rohan_portrait {
	height: 140px;
}

.desaturate {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.splash {
    height:100vh;
}

.nav_img {
	height: 30px;
	width: 30px;
	margin-left: 5px;
	margin-right: 5px;
}