body {
    background-color: rgba(52, 73, 94, 1);
    color: #3498db;
    font-family: 'Raleway', sans-serif;
}
.title {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 5.5em;
}
.thumb {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 5px;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
}
.thumb:hover {
    border-color: #3498db;
    border: 2px dashed;
}
.inception_img {
    width: 75%;
    height: auto;
    text-align: center;
    display:block;
    margin:auto;
}

/* Hyperlinks */
a {
  text-decoration: none;
  border-bottom: 1px solid #3498db;
  color: inherit; }
  a.implicit, a.blank, a.blank:hover {
    color: inherit;
    border-bottom: none; }
  a:hover {
    color: #ecf0f1;
    border-bottom: 1px solid #ecf0f1;
    text-decoration: none; }
    a:hover.implicit {
      color: #ecf0f1 !important;
      border-bottom: none; }

a.anchor-wrap {
  color: white !important;
  font-size: 1em;
  margin-left: 6px;
  padding: 0 4px 0 4px;
  text-decoration: none !important;
  border-bottom: none; }
  a.anchor-wrap:hover {
    background-color: #ccc;
    color: white !important;
    border-bottom: none; 
}